.container {
    .container__btn-play,
    .container__btn-pause{
        width: 45px;
        height: 35px;
        background-color: #1c70c4;
        border: 0;
        color: rgb(255, 255, 255);
    }
}