<div class="content">
    <h1>BIENVENIDO</h1>
    <section class="section-1">
        Este tutorial se realizo para ser empleado por los docentes en la planeacion didactica de sus cursos, como
        vehiculos y soportes para la transmision de mensajes educativos.
    </section>

    <section class="section-2">
        La plataforma se ha implementado como una herramienta extra para el aprendizaje del alumno
    </section>

    <mat-card>
        <mat-card-title>AREAS DONDE SE UTILIZAN</mat-card-title>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>