<div class="content">
    <h1>BIENVENIDO</h1>
    <section class="section-1">
        Este tutorial se realizó para ser empleado por los docentes en la planeación didactica de sus cursos, como
        vehículos y soportes para la transmisión de mensajes educativos.
    </section>

    <section class="section-2">
        La plataforma se ha implementado como una herramienta extra para el aprendizaje del alumno
    </section>

    <mat-card>
        <mat-card-title>ÁREAS DONDE SE UTILIZAN</mat-card-title>
        <mat-card-content>
            <ul>
                <li>Álgebra booleana</li>
                <li>Sistemas operativos</li>
                <li>Redes</li>
                <li>Proceso de compilación</li>
                <li>Electrónica</li>
                <li>Lenguaje ensamblador</li>
                <li>Estructura de datos</li>
                <li>Bases de datos</li>
                <li>Arquitectura de computadoras</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>