.content {
    width: 85%;
    height: 100vh;
    margin: 25px auto;

    h1 {
        text-align: end;
        color: rgb(25, 18, 92);
    }

    section{
        width: 95%;
        margin: 8% auto;
    }
}


