<div class="header-nav">
  <div class="header-logos">
    <img src="../../../assets/logos/buho.png" width="200" height="150">
  </div>
  <div class="header-controls">
    <app-audio></app-audio>
  </div>
</div>
<label id="mflag" for="flag" (click)="onBarsClick()">
  <fa-icon [icon]="bars" [spin]="spin" size="2x"></fa-icon>
</label>
<input type="checkbox" name="btn-flag" value="flag" id="flag"/>


<div id="side-bar">
  <ul class="items">
    <li class="item" [routerLink]="['', 'home']" routerLinkActive="active">Inicio</li>
    <li class="item" [routerLink]="['', 'agenda']" routerLinkActive="active">Temario</li>
    <li class="item">Evaluacion</li>
    <li class="item" [routerLink]="['', 'tables']" routerLinkActive="active">Tablas</li>
  </ul>
</div>


<div id="container">
  <router-outlet></router-outlet>
</div>
