<div class="header-nav">
    
</div>
<label id="mflag" for="flag"><span>menu</span></label>
<input type="checkbox" name="btn-flag" value="flag" id="flag"/>
<div id="side-bar">
    <ul class="items">
        <a href="#"><li class="item">Inicio</li></a>
        <a href="#"><li class="item">Temario</li></a>
        <a href="#"><li class="item">Evaluacion</li></a>
        <a href="#"><li class="item">Tablas</li></a>
    </ul>   
</div>
<div id="container">Contenedor</div>
<router-outlet></router-outlet> 
