.container{
  //background-color: #d6e9fc;
  width: 100%;
  height: 100%;
  
  .conversor{ 
    color: #fff;
  }

  .container__conversor {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 2px 15px;
    height: 50px; 
    margin: 5px auto;
    text-transform: uppercase;

    .btn--info{
      left: 20%;
    }

    span {
      width: 130px;
      height: 35px;
      margin-left: 20px; 
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border: 1px solid #ddd;
      //background-color: rgb(163, 122, 122);
    }
  }

  .container__table{   
    //background-color: #4c5d6e;
    width: 95%;
    height: 450px;
    margin: 0px auto; 
    padding: 15px;
    box-shadow: 15px 25px 50px rgb(185, 185, 185);

    .table{
      width: 95%;
      margin: 0px auto;
      border-collapse: collapse;
    }
  }

  .info-container{
    position: relative;
    margin: -30% auto; 
    width: 85%;
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 20px 25px rgb(172, 172, 172);
  }
}