<tr class="table__row">
  <td (click)="selectNumber(row.f0)">{{row.f0}}</td>
  <td (click)="selectNumber(row.f1)">{{row.f1}}</td>
  <td (click)="selectNumber(row.f2)">{{row.f2}}</td>
  <td (click)="selectNumber(row.f3)">{{row.f3}}</td>
  <td (click)="selectNumber(row.f4)">{{row.f4}}</td>
  <td (click)="selectNumber(row.f5)">{{row.f5}}</td>
  <td (click)="selectNumber(row.f6)">{{row.f6}}</td>
  <td (click)="selectNumber(row.f7)">{{row.f7}}</td>
  <td (click)="selectNumber(row.f8)" *ngIf="show">{{row.f8}}</td>
  <td (click)="selectNumber(row.f9)" *ngIf="show">{{row.f9}}</td>
  <td (click)="selectNumber(row.f10)" *ngIf="show">{{row.f10}}</td>
  <td (click)="selectNumber(row.f11)" *ngIf="show">{{row.f11}}</td>
  <td (click)="selectNumber(row.f12)" *ngIf="show">{{row.f12}}</td>
  <td (click)="selectNumber(row.f13)" *ngIf="show">{{row.f13}}</td>
  <td (click)="selectNumber(row.f14)" *ngIf="show">{{row.f14}}</td>
  <td (click)="selectNumber(row.f15)" *ngIf="show">{{row.f15}}</td>
</tr>