<mat-card>
      
    <mat-card-title>
      {{label}}
    </mat-card-title>
  
    <mat-card-content>
      <form [formGroup]="formConverter">
          <label>Octal</label>
          <mat-form-field>
            <input matInput placeholder="octal" formControlName="entry">           
          </mat-form-field>
          <label>{{label}}</label>
          <mat-form-field>            
            <input matInput placeholder="{{label}}" formControlName="output">
          </mat-form-field>
          <!-- {{formConverter.value | json}} -->
          <button mat-raised-button color="primary" (click)="convertNumber()">Convertir</button>
          <br>
      </form>        
    </mat-card-content>
      
    <mat-card-actions>
      <button mat-flat-button color="primary" *ngIf="!stepByStep" (click)="showSteps()">Mostrar Pasos</button>
      <button mat-flat-button color="warn" *ngIf="stepByStep" (click)="showSteps()">Ocultar Pasos</button>
    </mat-card-actions>

    <mat-card-content *ngIf="stepByStep">
      <h4>PASO A PASO</h4>
    </mat-card-content>

  </mat-card>